.profilepic{
    width: 10rem;
    height: 9rem;
}


.buttondiv{
    
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttondiv button{
    width: 8rem;
    height: 2rem;
    margin: .2rem;
    border: none;
    border-radius: .2rem;
    font-size: .8rem;
    font-weight: 550;
}

.name{
    margin: 0rem;
}

