.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgba(54, 54, 54, 0.377);
    height: 3rem;
}

.icondiv{
    font-weight: 600;
    font-size: 1.7rem;
    margin: auto .6rem;
    color: #1378fc;
}

.logindiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: .7rem;
}

.logindiv button{
    font-size: .6rem;
    font-weight: 800;
}

.logindiv a{
    margin: auto .4rem;
    color: #1378fc;
}
.main{
    height: 70vh;
    background-color: whitesmoke;
}

.heading p{
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    text-align: left;
    margin: 1rem auto;
}

.guidline p{
    font-size: .9rem;
    font-weight: 500;
    color: black;
    text-align: left;
    margin: 1rem auto;
}

.buttondiv{
    text-align: right;
}

.buttondiv button{
    margin: 1rem .4rem;
}