.logindiv{
    height: 95vh;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: whitesmoke;
}

.banner{
    justify-self: right;
    text-align: left;
}

.banner h1{
    font-size: 3.5rem;
    margin-bottom: 0;
    color: #1378fc;
}

.banner p{
    font-size: 1.7rem;
    margin-top: .2rem;
    font-weight: 500;
}